---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Not Found">
    <div class="md:p-72 md:my-0 my-64 flex items-center justify-center flex-col">
        <p><span class="text-primary text-4xl font-extrabold">404</span> No se encontró la página!</p>
        <a 
        href="/"
        class="mt-10 dark:text-blue-500 dark:hover:text-blue-600 text-blue-800 hover:text-blue-900">Volver al inicio</a>
    </div>
</Layout>