---
import Layout from "../layouts/Layout.astro"
import LayoutPages from "../layouts/LayoutPages.astro"

---
<Layout title="Sobre Nosotros">
	<LayoutPages title="SOBRE NOSOTROS">
		<main class="md:px-52 md:py-20 px-2 flex gap-10 items-center justify-center flex-col md:flex-row">
			<img 
			class=" md:w-1/2 rounded-lg md:h-[800px]  object-contain"
			src="./People/robot5.webp" />
			<div class="flex flex-col gap-10 md:w-1/2">
				<div class="flex flex-col gap-5 text-center md:text-start">
					<p class="font-bold text-lg">Sobre la Compañia</p>
					<p class="font-extrabold text-3xl">Tu sueño comienza en el momento de conocernos</p>
					<p class="text-lg">Nos enorgullece contar con un equipo de ingenieros y diseñadores dedicados que trabajan incansablemente para crear vehículos de calidad y vanguardia. Nuestro compromiso con la excelencia se refleja en cada detalle, desde la selección de materiales hasta la implementación de tecnologías de vanguardia.</p>
				</div>
				<div class="flex md:gap-32 justify-between">
					<div class="flex flex-col gap-3">
						<img 
						class="w-[60px]"
						src="./icons/icon1.webp" />
						<div class="flex gap-4 items-center flex-col md:flex-row">
							<p class="text-4xl font-extrabold">20</p>
							<div>
								<p>car</p>
								<p>types</p>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-3">
						<img 
						class="w-[60px]"
						src="./icons/icon2.webp" />
						<div class="flex gap-4 items-center flex-col md:flex-row">
							<p class="text-4xl font-extrabold">20</p>
							<div>
								<p>Segury</p>
								<p>types</p>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-3">
						<img 
						class="w-[60px]"
						src="./icons/icon3.webp" />
						<div class="flex gap-4 items-center flex-col md:flex-row">
							<p class="text-4xl font-extrabold">20</p>
							<div>
								<p>Money</p>
								<p>free</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</main>
	</LayoutPages>
</Layout>