---
import Layout from "../layouts/Layout.astro"
import LayoutPages from "../layouts/LayoutPages.astro"
import { modelsCars } from "../dataModelsCar"
import CardModelCar from "../components/CardModelCar.astro"

---
<Layout title="Sobre Nosotros">
	<LayoutPages title="MODELO DE AUTOS">
		<main class="md:px-52 md:py-20 px-2 ">
			<div class="flex flex-wrap gap-10 justify-center">
			{modelsCars.map( car => (
				<CardModelCar car={car} />
			) )}
			</div>

		</main>
	</LayoutPages>
</Layout>