---
import Close from "../icons/Close.astro";
---

<div class="fixed inset-0 bg-white dark:bg-black bg-opacity-30 z-40 dark:bg-opacity-30 flex justify-center items-center ">
    <div class="bg-white dark:bg-neutral-800 md:p-8 p-4 rounded md:w-[750px] m-2 my-5 h-full md:h-[660px] overflow-auto">
        <div class="flex justify-between w-full items-center">
            <h3 class="text-primary text-2xl font-extrabold">Informacion Personal</h3>
            <button>
                <Close class="size-6" />
            </button>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex flex-wrap flex-row ">
                <div class="flex flex-col gap-2 w-full">
                    <label for="nombre" class="  text-xl font-normal">Nombre <span class="text-red-700 text-3xl">*</span></label>
                    <input 
                    type="text"
                    id="nombre"
                    name="nombre"
                    class=" bg-gray-300 py-3 px-5 text-black"
                    placeholder="Nombre Aqui" />
                </div>
                <div class="flex flex-col gap-2 w-full">
                    <label for="Apellido" class=" text-xl font-normal">Apellido <span class="text-red-700 text-3xl ">*</span></label>
                    <input 
                    type="text"
                    id="Apellido"
                    name="Apellido"
                    class=" bg-gray-300 py-3 px-5 text-black"
                    placeholder="Apellido Aqui" />
                </div>
                <div class="flex flex-col gap-2 w-full">
                    <label for="Celular" class="text-xl font-normal">Numero Cel <span class="text-red-700 text-3xl">*</span></label>
                    <input 
                    type="text"
                    id="Celular"
                    name="Celular"
                  class=" bg-gray-300 py-3 px-5 text-black"
                    placeholder="+569..." />
                </div>
                <div class="flex flex-col gap-2 w-full">
                    <label for="Edad" class="text-xl font-normal">Edad <span class="text-red-700 text-3xl">*</span></label>
                    <input 
                    type="text"
                    id="Edad"
                    name="Edad"
                     class=" bg-gray-300 py-3 px-5 text-black"
                    placeholder="+18" />
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div>
                    <label for="Email" class="text-xl font-normal">Email <span class="text-red-700 text-3xl">*</span></label>
                    <input 
                    type="text"
                    id="Email"
                    name="Email"
                    class="w-full bg-gray-300 py-3 px-5 mt-3 text-black"
                    placeholder="example@example.com" />
                </div>
                <div>
                    <label for="Direccion" class="text-xl font-normal">Direccion <span class="text-red-700 text-3xl">*</span></label>
                    <input 
                    type="text"
                    id="Direccion"
                    name="Direccion"
                    class="w-full bg-gray-300 py-3 px-5 mt-3 text-black"
                    placeholder="Direccion aqui" />
                </div>
            </div>
            <div class="flex gap-3 items-center">
                <input 
                type="checkbox"
               
               />
                <p class="py-4">Porfavor mandenme informacion sobre algun problema o actualizacion</p>
            </div>
        </div>
        <button class="bg-primary hover:bg-hoverPrimary text-xl font-extrabold text-white w-full py-4 px-5">IR A LA COMPRA</button>
    </div>
    
</div>