---
const {title} = Astro.props
---

<div>
   <div class="bg-[url('Cars/bg-models.webp')] bg-no-repeat relative h-[260px] bg-cover my-20 ">
        <div class='bg-white dark:bg-black  absolute opacity-80 w-full h-[260px] '>
            <h1 class='font-bold md:pl-20 px-2 text-2xl dark:text-white  text-black py-28 text-center md:text-start'>{title}</h1>
        </div>
  </div> 
    <slot/>
    <div class="text-center flex flex-col gap-2 dark:bg-black bg-neutral-900 px-2  w-full py-20 mt-16 text-gray-200 mb-16">
        <p class="font-extrabold text-3xl">Proximamente a la venta</p>
        <p class=" font-extrabold text-2xl text-primary">+56975259414</p>
    </div>
</div>